* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    font-family: Nunito Sans;
}

a {
    font-family: Nunito Sans;
    text-decoration: none;
}

a:hover {
    color: #3BCEC8;
}

.headera {
    color: #000;
}

.headerli {
    list-style: none;
    display: inline-block;
    padding: 0% 5%;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding: 4% 7%;
}

.logo {
    width: 40%;
    height: 100%;
}

.menu {
    padding: 0% 4%;
    width: 40%;
    height: 100%;
    justify-content: flex-end;
}

#ulmenu {
    display: flex;
    justify-content: flex-end;
}

.banner {
    width: 100%;
    height: 100%;
    padding: 4% 7%;
    background-color: #F6F6F6;
}

#titlep1 {
    font-family: Nunito Sans;
    color: #000;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

#titlep2 {
    font-family: Nunito Sans;
    color: #959595;
    text-align: center;
    margin-top: 25px;
}

.banner2 {
    padding: 4% 7%;
    width: 100%;
    height: 100%;
    background-color: #00C3BC;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.banner2block {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    /* border: 1px solid #000; */
}

i {
    margin: 1rem;
    font-size: 36px;
    color: whitesmoke;
}


/* .number {
    padding: 5px;
    color: whitesmoke;
} */

.num {
    font-size: 15px;
    padding-bottom: 5px;
    color: whitesmoke;
}

.text {
    font-size: 12px;
    color: whitesmoke;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F5F5F5;
}

.contentimg {
    width: 40%;
    height: 100%;
}

.contenttxt {
    padding: 100px 50px;
    width: 40%;
    height: 100%;
}

.p1 {
    font-size: 20px;
    font-weight: bold;
}

.p2 {
    padding: 20px 0px;
    color: gray;
}

.content2 {
    padding: 30px 60px;
    width: 100%;
    text-align: center;
}

.button {
    background-color: #00C3BC;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

.footer {
    padding: 4% 7%;
    display: flex;
    background-color: black;
    color: #F6F6F6;
}

.footerli {
    list-style: none;
}

.block1 {
    padding: 0% 0%;
    font-family: Nunito Sans;
    width: 40%;
    height: 100%;
    border: 1px solid #000;
    display: flex;
}

.block2 {
    font-family: Nunito Sans;
    width: 20%;
    height: 100%;
    color: #787878;
    border: 1px solid #000;
}

.block3 {
    width: 10%;
    height: 100%;
    color: #787878;
    border: 1px solid #000;
}

.block4 {
    width: 15%;
    height: 100%;
    color: #787878;
    border: 1px solid #000;
}

.block5 {
    width: 15%;
    height: 100%;
    color: #787878;
    border: 1px solid #000;
}

@media(max-width: 992px) {
    .banner2 {
        padding: 4% 7%;
        width: 100%;
        height: 100%;
        background-color: #00C3BC;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .banner2block {
        margin-right: 1%;
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        /* border: 1px solid #000; */
    }
    .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: #F5F5F5;
    }
    .contentimg {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .contenttxt {
        padding: 2% 7%;
        width: 100%;
        height: 100%;
        margin: 5% 20%;
    }
    .footer {
        padding: 4% 7%;
        display: flex;
        background-color: black;
        color: #F6F6F6;
        flex-wrap: wrap;
    }
    .block1 {
        font-family: Nunito Sans;
        width: 100%;
        height: 100%;
        /* border: 1px solid #000; */
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .block2 {
        padding: 2% 0%;
        font-family: Nunito Sans;
        width: 100%;
        height: 100%;
        color: #787878;
        /* border: 1px solid #000; */
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .block3 {
        width: 33%;
        height: 100%;
        color: #787878;
        /* border: 1px solid #000; */
        display: flex;
        justify-content: center;
    }
    .block4 {
        padding: 0% 7%;
        width: 33%;
        height: 100%;
        color: #787878;
        /* border: 1px solid #000; */
        display: flex;
        justify-content: center;
    }
    .block5 {
        padding: 0% 7%;
        width: 33%;
        height: 100%;
        color: #787878;
        /* border: 1px solid #000; */
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 760px) {
    .header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
        padding: 30px 7%;
    }
    .logo {
        padding: 5% 0%;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .menu {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .headerli {
        list-style: none;
        display: inline-block;
        padding: 0% 5%;
    }
    .banner2 {
        padding: 4% 7%;
        width: 100%;
        height: 100%;
        background-color: #00C3BC;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .banner2block {
        margin-right: 1%;
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        /* border: 1px solid #000; */
    }
}