*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f27b73;
}

.container{
    border: 1px solid #fff9fb;
    margin: auto;
    width: 868px;
}

.header .menu{
    border: 1px solid #fff9fb;
    background-color: #f27b73;
    overflow: hidden; /*(?) ERROR: float*/ 
    padding: 20px;
}

.header .menu ul{
    list-style-type: none;
}

.header .menu li{
    display: inline-block;
}

.header .menu a{
    text-decoration: none;
    color: #fff9fb;
    padding: 0 20px;
}

.header .menu .menu-left a{
    color: #fff9fb;
    font-family: 'Lobster', cursive;
    font-size: 20px;
}

.header .menu .menu-left{
    float: left;
}

.header .menu .menu-right{
    float: right;
}

.header .menu-right a:hover{
    background-color: #e66560;
}

.banner{
    color: #fff9fb;
    padding: 20px 0;
}

.banner h1{
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    letter-spacing: 2px;
}

[class*='col']{
    width: 23%;
    border: 1px solid white;
    height: 350px;
}

.content{
    overflow: hidden;
    padding-bottom: 20px;
    height: 410px;
}

.content .row .col-1, .col-2, .col-3, .col-4{
    float: left;
}

.content .row img{
    width: 80%;
    border-radius: 50%;
    margin: 8px;
    padding: 10px 10px 10px 35px;
}

.content .row p{
    color: #fff9fb;
    text-align: center;
}

.content .row .info{
    padding: 20px 0;
}

.content .row hr{
    height: 1px;
    background-color: #898a6a;
}

.content .row .extra-info i{
    background-color: #f27b73;
    padding: 10px 5px 10px 20px;
    font-size: 20px;
}

i:hover{
    color: blue;
}

.footer{
    border: 1px solid #fff9fb;
    background-color: #32ab98;
}