* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    font-family: Nunito Sans;
}

a {
    font-family: Nunito Sans;
    text-decoration: none;
}

a:hover {
    color: #3BCEC8;
}

.headera {
    color: #000;
}

.headerli {
    list-style: none;
    display: inline-block;
    padding: 0% 5%;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding: 4% 7%;
}

.logo {
    width: 40%;
    height: 100%;
}

.menu {
    padding: 0% 4%;
    width: 40%;
    height: 100%;
    justify-content: flex-end;
}

#ulmenu {
    display: flex;
    justify-content: flex-end;
}

.content {
    width: 100%;
    height: 100%;
    padding: 5% 7%;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
}

.txt {
    width: 45%;
    height: 100%;
}

#titletxt {
    font-family: Nunito Sans;
    font-size: 3rem;
    font-weight: bold;
}

.contenttxt {
    color: #787878;
}

.contentspan {
    color: black;
    font-weight: bold;
}

.form {
    width: 55%;
    height: 100%;
}

.row1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.row2 {
    width: 100%;
    height: 100%;
}

.row3 {
    width: 100%;
    height: 100%;
}

input[type=text],
select {
    width: 100%;
    height: 5rem;
    padding: 20px 20px;
    margin: 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}

#name,
#email {
    width: 49%;
}

#comment {
    height: 10rem;
}

.button {
    background-color: #00C3BC;
    border: none;
    color: white;
    margin: 10px 0px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

.map {
    width: 100%;
    padding: 0% 7% 5%;
    background-color: #f6f6f6;
}

#ggmap {
    width: 100%;
    height: 100%;
}

.footer {
    padding: 4% 7%;
    display: flex;
    background-color: black;
    color: #F6F6F6;
}

.footerli {
    list-style: none;
}

.block1 {
    padding: 0% 0%;
    font-family: Nunito Sans;
    width: 40%;
    height: 100%;
    border: 1px solid #000;
    display: flex;
}

.block2 {
    font-family: Nunito Sans;
    width: 20%;
    height: 100%;
    color: #787878;
    border: 1px solid #000;
}

.block3 {
    width: 10%;
    height: 100%;
    color: #787878;
    border: 1px solid #000;
}

.block4 {
    width: 15%;
    height: 100%;
    color: #787878;
    border: 1px solid #000;
}

.block5 {
    width: 15%;
    height: 100%;
    color: #787878;
    border: 1px solid #000;
}

@media(max-width: 992px) {
    .content {
        width: 100%;
        height: 100%;
        padding: 5% 7%;
        background-color: #f6f6f6;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .txt {
        width: 100%;
        height: 100%;
    }
    .form {
        padding: 2% 0%;
        width: 100%;
        height: 100%;
    }
    .footer {
        padding: 4% 7%;
        display: flex;
        background-color: black;
        color: #F6F6F6;
        flex-wrap: wrap;
    }
    .block1 {
        font-family: Nunito Sans;
        width: 100%;
        height: 100%;
        /* border: 1px solid #000; */
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .block2 {
        padding: 2% 0%;
        font-family: Nunito Sans;
        width: 100%;
        height: 100%;
        color: #787878;
        /* border: 1px solid #000; */
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .block3 {
        width: 33%;
        height: 100%;
        color: #787878;
        /* border: 1px solid #000; */
        display: flex;
        justify-content: center;
    }
    .block4 {
        padding: 0% 7%;
        width: 33%;
        height: 100%;
        color: #787878;
        /* border: 1px solid #000; */
        display: flex;
        justify-content: center;
    }
    .block5 {
        padding: 0% 7%;
        width: 33%;
        height: 100%;
        color: #787878;
        /* border: 1px solid #000; */
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 760px) {
    .header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
        padding: 30px 7%;
    }
    .logo {
        padding: 5% 0%;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .menu {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .headerli {
        list-style: none;
        display: inline-block;
        padding: 0% 5%;
    }
}