* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    font-family: Nunito Sans;
}

a {
    font-family: Nunito Sans;
    text-decoration: none;
}

a:hover {
    color: #3BCEC8;
}

.headera {
    color: #000;
}

.headerli {
    list-style: none;
    display: inline-block;
    padding: 0% 5%;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding: 4% 7%;
}

.logo {
    width: 40%;
    height: 100%;
}

.menu {
    padding: 0% 4%;
    width: 40%;
    height: 100%;
    justify-content: flex-end;
}

#ulmenu {
    display: flex;
    justify-content: flex-end;
}

.content {
    display: flex;
    padding: 0% 0% 0% 7%;
    align-items: center;
    background-color: #f6f6f6;
}

.txtcontent {
    width: 46.5%;
    height: 100%;
}

#titletxt {
    font-family: Nunito Sans;
    font-size: 3rem;
    font-weight: bold;
}

.contenttxt {
    color: #787878;
}

.imgcontent {
    width: 53.5%;
    /* height: 100%; */
}

#light {
    width: 100%;
    height: 100%;
}

.contentspan {
    color: black;
    font-weight: bold;
}

.navigation {
    padding: 0% 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pre {
    padding: 0% 2%;
    width: 33%;
    height: 100px;
    display: flex;
    align-items: center;
}

.cent {
    width: 33%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.next {
    width: 33%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer {
    padding: 4% 7%;
    display: flex;
    background-color: black;
    color: #F6F6F6;
}

.footerli {
    list-style: none;
}

.block1 {
    padding: 0% 0%;
    font-family: Nunito Sans;
    width: 40%;
    height: 100%;
    border: 1px solid #000;
    display: flex;
}

.block2 {
    font-family: Nunito Sans;
    width: 20%;
    height: 100%;
    color: #787878;
    border: 1px solid #000;
}

.block3 {
    width: 10%;
    height: 100%;
    color: #787878;
    border: 1px solid #000;
}

.block4 {
    width: 15%;
    height: 100%;
    color: #787878;
    border: 1px solid #000;
}

.block5 {
    width: 15%;
    height: 100%;
    color: #787878;
    border: 1px solid #000;
}

@media(max-width: 992px) {
    .content {
        display: flex;
        padding: 0% 7%;
        align-items: center;
        flex-wrap: wrap;
        background-color: #f6f6f6;
    }
    .txtcontent {
        padding: 4% 0%;
        width: 100%;
        height: 100%;
    }
    #titletxt {
        font-family: Nunito Sans;
        font-size: 3rem;
        font-weight: bold;
    }
    .contenttxt {
        color: #787878;
    }
    .imgcontent {
        padding: 4% 0%;
        width: 100%;
        /* height: 100%; */
    }
    .footer {
        padding: 4% 7%;
        display: flex;
        background-color: black;
        color: #F6F6F6;
        flex-wrap: wrap;
    }
    .block1 {
        font-family: Nunito Sans;
        width: 100%;
        height: 100%;
        /* border: 1px solid #000; */
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .block2 {
        padding: 2% 0%;
        font-family: Nunito Sans;
        width: 100%;
        height: 100%;
        color: #787878;
        /* border: 1px solid #000; */
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .block3 {
        width: 33%;
        height: 100%;
        color: #787878;
        /* border: 1px solid #000; */
        display: flex;
        justify-content: center;
    }
    .block4 {
        padding: 0% 7%;
        width: 33%;
        height: 100%;
        color: #787878;
        /* border: 1px solid #000; */
        display: flex;
        justify-content: center;
    }
    .block5 {
        padding: 0% 7%;
        width: 33%;
        height: 100%;
        color: #787878;
        /* border: 1px solid #000; */
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 760px) {
    .header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
        padding: 30px 7%;
    }
    .logo {
        padding: 5% 0%;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .menu {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .headerli {
        list-style: none;
        display: inline-block;
        padding: 0% 5%;
    }
}